/* #9ba3ab
#7d96b0 */

body {
  display: grid;
  grid-template-columns: auto 0px; 
}

.top {
  --offset: 50px; 

  position: sticky;
  bottom: 20px;      
  margin-right: 10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  width: 45px;
  aspect-ratio: 1;
  background: #ff8b24;
  border-radius: 10px;
}

.top:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}

p {
  font-size: 25px;
}





#Btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e52b50;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#Btn:hover {
  background-color: #555;
}


$min-width: 120px;
$maincolor: #81bac8;  
$secondarycolor: #8197c8;

@mixin transform($value){
  -webkit-transform: ($value);
     -moz-transform: ($value);
      -ms-transform: ($value);
          transform: ($value);
}
@mixin transition($value){
  -webkit-transition: ($value);
     -moz-transition: ($value);
      -ms-transition: ($value);
          transition: ($value);
}

*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background: #374954;
  color: white;
  text-align: center;
}

#main{
  position: relative;
  list-style: none;
  background: $maincolor;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 50px auto;
  li{
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 5;
    min-width: $min-width;
  }  
}
li{
  margin: 0;
}
.drop{
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 48px;
    div{
      @include transform(translate(0,-100%));
      @include transition(all 0.5s 0.1s);
      position: relative;
    }
    li{
      display:block;
      padding: 0;
      width: 100%;
      background: $secondarycolor !important;
    }
  }
#marker{
  height: 6px;
  background: $secondarycolor !important;
  position: absolute;
  bottom: 0;
  width: $min-width;
  z-index: 2;
  @include transition(all 0.35s);
}

@for $i from 1 through 4{
  #main li:nth-child(#{$i}){
    &:hover ul div{
     @include transform(translate(0,0)); 
    }
    &:hover ~ #marker{
      @include transform(translate(#{(-1+$i)*$min-width},0));
    }
  }    
}




html {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  color:#eaedf5;
}

body {
      font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color:#eaedf5;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  margin: 0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}


pre {
  overflow-x: visible;
}

section {
  max-width: 650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
}


/*----------------------------
    Two column layout stuff
  ---------------------------*/
/* Main Section Headings and sub headings */
article .begin-examples ~ h2,
article .begin-examples ~ h2 + p {
    width: 100%;
    clear: both;
}

/* Columns */
article .begin-examples ~ h3,
article .begin-examples ~ p,
article .begin-examples ~ .highlight {
    width: 50%;
}

/* Left Column */
article .begin-examples ~ h3,
article .begin-examples ~ p {
    float: left;
    box-sizing: border-box;
    padding-right: 1rem;
    clear: both;
}

/* Right Column */
article .begin-examples ~ .highlight {
    float: right;
    clear: right;
    margin-bottom: 1rem;
}

/* Reset */
article .end-examples ~ p,
article .end-examples ~ h3,
article .end-examples ~ .highlight {
    width: auto;
    float: none;
    clear: none;
}

.end-examples {
    clear: both;
}

@media print, screen and (max-width: 580px) {

/*----------------------------
    Two column layout media
  ---------------------------*/
article .begin-examples ~ h3,
article .begin-examples ~ p,
article .begin-examples ~ .highlight {
    width: 100%;
    float: none;
    clear: none;
}

}


/*----------------------------------------------------------
    Other Styling
    
    Normally you would just put this in the sections above.
  ---------------------------------------------------------*/

h3 {
    font-weight: normal;
    text-size: 1rem;
}


.begin-examples ~ p {
    font-style: italic;
    font-size: 0.9rem;
}

.end-examples ~ p {
    font-style: normal;
    font-size: 1rem;
}

/*----------------------------
    Other media
  ---------------------------*/
@media print, screen and (max-width: 580px) {
article > h3,
article > p {
    padding: 0;
    margin-bottom: 0.2rem;
}

article .highlight {
    margin-bottom: 1.4rem;
    background: #f7f7f7;
    padding: 0.2rem;
    
    word-wrap: break-word;
}

article .highlight pre {
    margin-bottom: 0;
}

}
